{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <img src="static/images/marjors-suite.png" class="img-fluid mx-auto d-block room-image img-thumbnail" alt="Majors Suite">
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <h1 class="text-center mt-4">Majors Suite</h2>
                        <p>Book your stay with us and enjoy a comfortable experience, in the comfort of the natures best. 
                        Let go of your busy city life and enjoy the peace and quite at our cosy vintage cabins. 
                        Situated near the scottish borders, this place has not change since the victorian period. 
                        This heritage can be seen in our buildings architecture. 
                        Keeping up with the tradition we serve food form that era and our wines are to die for.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                    <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
    <hr>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                    minDate: new Date(),
            })
            },
            didOpen: () => {
                document.getElementById("start").removeAttribute("disabled");
                document.getElementById("end").removeAttribute("disabled");
            },      
                                      
            callback: function(result) {
                console.log("called");
                
                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}")
                formData.append("room_id", "2");

                fetch('/search-availability-json', {
                    method: 'post',
                    body: formData,                 
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.ok) {
                            attention.custom({
                                icon: 'Success',
                                showConfirmButton: false,
                                msg: '<p>Room is available</p>'
                                    + '<p>Click on the button below to proceed with reservation</p>'
                                    + '<p><a href="/book-room?id='
                                    + data.room_id
                                    + '&start_date=' + data.start_date
                                    + '&end_date=' + data.end_date
                                    + ' " class="btn btn-primary"> Book Now </a></p>',
                            });
                            //window.location.href = "/choose-room/1";
                        } else {
                            attention.error({
                                title: 'Error',
                                msg: "no availability",
                            });
                        }
                    })
            }
        });
    })
</script>
{{end}}