        .my-footer {
            height: 5em;
            background-color:rgb(66, 68, 68);
            margin-top: 1.5em
            color: #FFFFFF;
            padding: 1em;
            text-align: center;
            font-size: 1.2em;
        }
        .room-image {
            max-width: 50%;
            height: auto;
        }
/* After notie styles are applied to DOM: */
        .notie-container {
        box-shadow: none;
        }
        .datepicker {
            z-index: 10500 !important;
        }